* {
 font-family: Copperplate;
}

table { 
     margin: 0 auto; 
   } 

a:link {
  color: blue;
  text-decoration: none;
}

a:visited {
  color: red;
}

a:hover {
  color: green;
}

.buttons b:hover{
  background-color: #d0d0d0;
}
