* {
 font-size: 100%;
 font-family: Copperplate;
}

a:link {
  color: blue;
  text-decoration: none;
}

a:visited {
  color: red;
}

a:hover {
  color: green;
}

.buttons b:hover{
  background-color: #d0d0d0;
}
